:root {
    --heading-color: #80353b;
    --heading-font-color: white;
    --background-color: #E4c59E;
    --pop-color: #322c2b;
    --font-color: black;
    --section-color: #f6e9c9;
    --img-radius: 10px;
    --img-shawdow: 0px 5px 10px black;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.head {
    width: 100%;
    background-color: var(--heading-color);
    margin: 0;
    padding: 2% 0;
    color: var(--heading-font-color);
    text-align: center;
}

/*forcing links to be white in the header */
.head a {
    color: var(--heading-font-color);

}

h2,
h4 {
    text-align: center;
}

h3 {
    text-align: left;
    margin-left: 15px;
}

/* removes the bullet points, give some spacing, and aligns them next to eachother */
li {
    list-style: none;
    margin: 1% 3%;
    display: inline-block;
}

/*removes any decorations to links and sets to standard font color */
a {
    text-decoration: none;
    color: var(--font-color);
}

/* in the header puts a color to the link*/

p {
    margin: 2%;
    text-align: center;
}

main {
    display: flex;
    max-width: 95%;
}

article {
    flex: 70%;
}

aside {

    flex: 30%;
    flex-wrap: wrap;
}

.box-1 {
    width: 100%;
    margin: 1%;
    padding: 1%;
    border: solid;
    background-color: var(--section-color);
    border-radius: var(--img-radius);
}

.boxes {
    flex: 1 0 25%;
    margin: 1%;
    padding: 1%;
    border: solid;
    background-color: var(--section-color);
    border-radius: var(--img-radius);
}

.box-2 {
    width: 100%;
    margin: 1%;
    padding: 1%;
    border: solid;
    background-color: var(--section-color);
    border-radius: var(--img-radius);
}

.box-2 ul {
    text-align: center;
}

img {
    margin: 5px;
    border-radius: var(--img-radius);
    box-shadow: var(--img-shawdow);
}

/*come back to position */
img {
    box-sizing: border-box;
}

.box-1 img {
    height: 400px;
    width: auto;
}

.boxes img {
    max-height: 200px;
    width: auto;
}

.side-box img {
    max-width: 400px;
    height: auto;
    margin-left: auto;
    margin: 15% 0;

}

.flex {
    display: flex;
    flex-wrap: wrap;
}

/* when mouse hovers over image, it grows and take time to transition */
img:hover {
    transform: scale(1.02);
    transition-duration: .5s;
}

/* when hovering over the list in the heading, they underline and bold */
.head li:hover {
    text-decoration: underline white;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.side-box {
    margin-top: 3%;
    border: solid;
    background-color: var(--section-color);
    border-radius: var(--img-radius);
    margin: 1%;
}

.side-box li {
    list-style: circle;
}

footer {
    text-align: center;
    margin: 2%;
    line-height: 0px;
}

@media screen and (max-width: 992px ) {
main {
    display:block;
}
}

@media screen and (max-width: 768px) {
    img {
        height: 200px
    }
    .box-1 img {
        height: 400px;
    }
 
}

/*Small smartphones - image placeholders change color */
@media screen and (max-width: 576px) {
    img {
        height: 150px
    }

    .box-1 img {
        height: 300px;
    }

}